apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - scc.yaml

commonLabels:
  platform: openshift

patches:
  - patch: |-
      - op: replace
        path: /spec/template/spec/securityContext
        value:
          runAsNonRoot: true
    target:
      kind: Deployment
      name: prometheus

